.post-body, .employee-body {
    color: #71777C;
    margin-bottom: 2em;
}
.post-title {
    color: #394248;
    text-transform: capitalize;
}
.post-meta{
    color: #71777C;
}
.post, .employee {
    margin-left: 10%;
    margin-right: 10%;
}
.title {
    margin-left: 5%;
}
.copy-right{
    margin-left: 5%;
}



