.title {
    margin-left: 5%;
}
.post-body, .about-us-body, .search-wrapper{
    color: #71777C;
    margin-bottom: 2em;
}
.employee-email, .employee-phone, .employee-catch-phrase {
    color: #71777C;
}
.employee-catch-phrase {
    font-style: italic;
}
p.employee-catch-phrase:before, p.employee-catch-phrase:after {
    content: '"';
    color: #71777C;
    font-style: italic;
}
.post-title {
    color: #394248;
    text-transform: capitalize;
}
.post-meta{
    color: #71777C;
}
.post, .employee, .about-us-body, .search-wrapper{
    margin-left: 10%;
    margin-right: 10%;
}
.copy-right{
    margin-left: 5%;
}
.nav .active a{
   background-color: white !important;
   color: black !important;
}
.navbar {
    border: none;
}




